@use "@/styles/variables" as *;

.card {
  background: white;
  border-radius: $radius-lg;
  border: 1px solid #eee;
  overflow: hidden;
}

.image {
  height: 150px;
  background: #f5f5f5;
}

.info {
  padding: 14px;

  strong {
    display: block;
  }
  span {
    color: $brand;
    font-size: 13px;
  }

  button {
    margin-top: 10px;
    width: 100%;
  }
}

.reserve {
  background: #16a34a !important; // green reserve
}
