.card {
  background: white;
  border-radius: 16px;
  border: 1px solid #f1f1f1;
  overflow: hidden;
  position: relative;
}

.priority {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fce7f3;
  color: #c0267e;
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 999px;
}

.card img {
  width: 100%;
}

.info {
  padding: 14px;

  strong {
    display: block;
    font-size: 14px;
  }

  span {
    font-size: 13px;
    color: #c0267e;
  }

  small {
    display: block;
    font-size: 12px;
    color: #9ca3af;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    border: none;
    background: #c0267e;
    color: white;
    border-radius: 999px;
    padding: 8px;
    font-size: 13px;
    cursor: pointer;
  }
}
