EXPO_PUBLIC_SUPABASE_URL=https://mdwqtqqlqlzyqvnnhlln.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1kd3F0cXFscWx6eXF2bm5obGxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4NjIyODcsImV4cCI6MjA4NTQzODI4N30.j6aeYSOp6JOcQiPgWhDs_ukiMeKqf8NoNWRRu6PKQfI
EXPO_PUBLIC_REVENUECAT_API_KEY=your_revenuecat_api_key_here
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_google_web_client_id_here